<img src="pics/python.png">

# Basics of Python

### Python is case sensitive

### Spacing and indentation is important in Python

##  Arithmethic operators

In [1]:
pwd

'C:\\Users\\ADMIN\\Desktop\\Simant_python_DS\\my_notebooks_python_bssics'

In [1]:
5 * 5

25

In [2]:
print(1 + 2)

3

In [3]:
1 +2

3

In [4]:
print(3 - 1)

2

In [5]:
print(5 * 2)

10

In [6]:
print(7 / 3)

2.3333333333333335

In [7]:
print(7 // 3)

2

In [8]:
print(10 % 3)

1

In [9]:
print(2 ** 3)

8

>Alternative approach[**Variable assignment**]

In [6]:
a, b = 16, 3
add = a + b
minus = a - b
multiply = a * b
divide = a / b
abs_divide = a // b
mod = a % b
print(a, b)
print(add, minus, multiply, divide, abs_divide, mod)

16 3
19 13 48 5.333333333333333 5 1

In [7]:
12a = 5

SyntaxError: invalid syntax (<ipython-input-7-6ee86f25ee34>, line 1)

In [8]:
_name = 'Simant'

_name

In [9]:
_name

'Simant'

In [10]:
add

19

In [11]:
minus

13

In [12]:
multiply

48

In [13]:
divide

5.333333333333333

In [14]:
abs_divide

5

In [15]:
mod

1

## Comparison operators

In [16]:
1 < 2

True

In [17]:
2 > 5

False

In [18]:
5 >= 5

True

In [19]:
5 <=4

False

In [20]:
4 == 4

True

In [21]:
4 != 5

True

## Logical operators

In [22]:
#AND
True and True

True

In [23]:
True and False

False

In [24]:
False and False

False

In [25]:
#OR
True or False

True

In [26]:
True or True

True

In [27]:
False or False

False

## Data Types

In [11]:
a = 3
b = 3.5
c = 'abc'
d = True
e = False

In [12]:
type(a)

int

In [13]:
type(b)

float

In [14]:
type(c)

str

In [15]:
type(d)

bool

In [16]:
type(e)

bool

In [17]:
a = float(a)
b = int(b)

In [18]:
print(type(a), type(b))

<class 'float'> <class 'int'>

In [19]:
print(a, b)

3.0 3

In [20]:
a = str (a)

In [21]:
a

'3.0'

## Strings

In [39]:
'Single quotes'

'Single quotes'

In [40]:
"Double quotes"

'Double quotes'

In [41]:
"I can't go"

"I can't go"

In [42]:
name = 'Simant'
id = 123

In [43]:
#format function
print('Hello I am {} and my ID is {}'.format(name,id))

Hello I am Simant and my ID is 123

In [44]:
print('Hello I am {a} and my ID is {b}- {a}'.format(a = name, b = id))

Hello I am Simant and my ID is 123- Simant

In [45]:
##Can concat only strings
print('Hello '+name+' and '+str(id))

Hello Simant and 123

In [46]:
s = 'abcde@fghij'

In [47]:
s.split("@")[1]

'fghij'

In [48]:
s[0]

'a'

In [49]:
#Slicling

In [50]:
s[0:]

'abcde@fghij'

In [51]:
s[1:3]

'bc'

In [52]:
s[:3]

'abc'

In [53]:
s[:]

'abcde@fghij'

## Lists

In [31]:
[1,2,3] * 1

[1, 2, 3]

In [26]:
['a','b','c']

['a', 'b', 'c']

In [27]:
my_list = ['a','b','c']

In [28]:
#append function
my_list.append('d')

In [32]:
my_list

['a', 'b', 'c', 'd']

In [59]:
print(my_list)

['a', 'b', 'c', 'd']

In [60]:
my_list[0]

'a'

In [61]:
my_list[1:3]

['b', 'c']

In [62]:
my_list[:2]

['a', 'b']

In [33]:
my_list[0] = 'z'

In [34]:
my_list

['z', 'b', 'c', 'd']

In [65]:
nested_list = [1, 2, [3, 4]]

In [66]:
nested_list[2]

[3, 4]

In [67]:
nested_list[2][1]

4

In [35]:
nest = [1,2,3,[4,5,['six','seven']]]

In [69]:
print(nest[3][2][1])

seven

## Dictionary

In [70]:
d = {'id':123 ,'name':'abc'}

In [71]:
d

{'id': 123, 'name': 'abc'}

In [72]:
d['id']

123

In [73]:
d['name']

'abc'

In [74]:
dict = {'k1':[1,2,3,4]}

In [75]:
dict['k1'][3]

4

In [76]:
dict['k1'][2]

3

In [77]:
nest_d = {'a':{'b':[1,2,3]}}

In [78]:
nest_d['a']['b'][1]

2

## Tuple

In [79]:
#Same as list with () instead of [],with minor difference

In [80]:
t = (1,2,3)

In [81]:
t[1]

2

In [82]:
#tuple is immutable & uneditable
t[0] = 5

TypeError: 'tuple' object does not support item assignment

## Set

In [83]:
#collection of unique values
{1,1,1,1,1,2,2,2,3,4,5,5,5}

{1, 2, 3, 4, 5}

In [84]:
#also using set function
type(set([1,1,1,1,2,2,2,3,4,5,5,5,5]))

set

In [85]:
s = {1,2,3}

In [86]:
#add function is used in set instead of append.
s.add(4)

In [87]:
s

{1, 2, 3, 4}

## Conditional Statements

In [38]:
if 1 < 2:
    print('yes')

yes

In [89]:
if 5 < 10:
    print('No')

No

In [40]:
if 1 > 2:
    print('yes')
else:
    print('no')

no

In [39]:
if 1== 3:
    print('first')
elif 2 == 2:
    print('second')
elif 3 == 3:
    print('third')
else:
    print('fourth')

second

## For & While loop

In [92]:
seq = [1,2,3,4,5]

In [93]:
for num in seq:
    print(num)

1
2
3
4
5

In [94]:
i = 1

while i <= 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

### Range

In [95]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [96]:
range(0,5)

range(0, 5)

In [97]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [98]:
list(range(10,51,2))

[10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [99]:
list(range(10,5))

[]

In [100]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [41]:
x = [1,2,3,4,5]
out = []

In [42]:
for num in x:
    out.append(num**2)

In [43]:
print(out)

[1, 4, 9, 16, 25]

In [44]:
#list comprehension - reverse for loop

a = [num**2 for num in x]

In [45]:
a

[1, 4, 9, 16, 25]

## Functions

In [106]:
def calc(a,b,action='need to enter action'):
    if action == 'ADD':
        print(a+b)
    elif action == 'SUB':
        print(a-b)
    elif action == 'MUL':
        print(a*b)
    else:
        print(action)

In [107]:
calc(8,5,'MUL')

40

In [46]:
def sq(num):
    """
    This is a docstring.
    also multi line comment
    """
    return num**2

In [109]:
out = sq(5)

In [110]:
out

25

In [47]:
def times3(val):
    return val*3

In [48]:
#map function

In [49]:
seq = [1,2,3,4,5]

In [50]:
map(times3,seq)

In [51]:
list(map(times3,seq))

[3, 6, 9, 12, 15]

In [116]:
#Lambda function

In [52]:
t3 = lambda val:val*3

In [53]:
t3(3)

9

In [119]:
list(map(lambda val:val*3,seq))

[3, 6, 9, 12, 15]

In [120]:
#filter function

In [121]:
filter(lambda num:num%2 ==0,seq)

In [122]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

In [57]:
words = ['soup','chick','rices','salad','sour']

In [59]:
list(filter(lambda word: word[0] == 's',words))

['soup', 'salad', 'sour']

In [125]:
# other builtin methods

In [60]:
string = "Hello! I'm Simant"

In [61]:
string.lower()

"hello! i'm simant"

In [62]:
string.upper()

"HELLO! I'M SIMANT"

In [63]:
string.split()

['Hello!', "I'm", 'Simant']

In [64]:
#Used a lot in text analysis
tweet = 'Go CSK Go! #CSK#MSD#Whistlepodu'

In [68]:
tweet.split('#')[1:]

['CSK', 'MSD', 'Whistlepodu']

In [69]:
def domainGet(str):
    print(str.split('@')[1])

In [70]:
domainGet('nayak@gmail.com')

gmail.com

In [71]:
def count_dog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [73]:
count_dog("My Dog is faster that your dog")

2

In [77]:
"My Dog is faster that your dog".lower().split('dog')

['my ', ' is faster that your ', '']

In [78]:
d = [1,2,3]

In [137]:
last_num=d.pop()

In [138]:
d

[1, 2]

In [139]:
last_num

3

In [140]:
d

[1, 2]

In [141]:
d.append(3)

In [142]:
d

[1, 2, 3]

In [143]:
# in operator

In [83]:
'' in [1,'',2,3]

True

In [145]:
#Tuple unpacking

In [104]:
x = [(1,2,4),(3,4,5),(5,6,6)]

In [105]:
x[0][1]

2

In [106]:
for a,b,c in x:
    print(a,b)

1 2
3 4
5 6

# Thank you